<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
 
<div id="home" class="home mb-5 row no-gutters">
    <div class="nav-1300"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="topnav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarNavDropdown">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item ml-md-5">
                   <a class="link mx-md-1 p-md-2 p-1" href="../productos"><b>PRODUCTOS</b></a>
                </li>
                <li class="nav-item">
                   <a class="link mx-md-1 p-md-2 p-1" href="../recetas"><b>RECETAS</b></a>
                </li>                            
                <li class="nav-item">
                   <a class="link mx-md-1 p-md-2 p-1" href="../historia"><b>HISTORIA</b></a>
                </li>
                <li class="nav-item">
                    <a class="link mx-md-1 p-md-2 p-1" target="_blank" href="https://www.pricesmart.com/site/es/seleccionar-pais"><b>DÓNDE COMPRAR</b></a>
                 </li>                
            </ul>
        </div>
            <a class="navbar-brand" href="../">
                <img src="../img/home/kings-hawaiian-logo.svg" alt="" title="" id="logo-top-nav"/>
            </a>
        <div class="navbar-collapse collapse ml-5">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/kingshawaiianlatam">
                        <img src="../img/home/footer/Facebook.png"  id="foto-head" alt="" title="" style="width: 19px; height: auto;"/>
                    </a>
                </li>
                <li class="nav-item mr-md-5">
                    <a class="nav-link" href="https://www.instagram.com/kingshawaiianlatam/">
                        <img src="../img/home/footer/IG.png"  id="foto-head" alt="" title="" style="width: 19px; height: auto;"/>
                    </a>
                </li>
            </ul>
            
        </div>  
    </nav>
    
</div>      
<!--<div class="row no-gutters pt-5 d-md-block d-none">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="../" class="marron hover-marron">Home</a></li>
                <li class="breadcrumb-item marron">Recetas</li>
            </ol>
        </nav>
    </div>
</div>-->
<div class="hero-image-recetas">
    <div class="hero-text-recetas text-left max-80">
        <div class="align-recetas">
            <h1 class="h1 mb-4">RECETA<br/>DEL MES</h1>
                <a href="pollo-aloha" class="btn btn-estructura btn-naranja"><span class="btn-medio">VER RECETA</span></a> 
            </div>   
    </div>
</div>    

    
    